.fingerprint-team{
    padding-top: 20px;
    .team-icon-holder{
        img{
            width: 100px;
            height: 100px;
        }

    }
}
.team-description{
    color: white;
    padding: 20px;
}