.domain-facet{
    // Hacky solution for center aligning these
    .progress-facet-container{
        padding-top: 5px;
        position: relative;
        .progress{
            border-radius: 7px;
        }
        // Also sort of hacky way to position the segments vertically
        .power-bar-segment-holder{
            width: 100%;
            height: 100%;
            padding-right: 30px;
            padding-bottom: 25px;
            position: absolute;
            .power-bar-segment{
                height: 100%;
                display: inline-block;
                border-right-color: #FFF;
                border-right-style: solid;
                border-right-width: 2px;
                //border-left-color: #FFF;
               //border-left-style: solid;
                //border-left-width: 1px;
            }
        }
    }
}
