.fingerprint-footer{
    height: 300px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    border: 0;
    background-color: $dark-grey; 
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1) !important;
}
.footer-code{
    padding-right: 20px;
    .code-label{
        color: #888;
        padding-bottom: 5px;
        font-size: 10pt;
    }
    .code-box{
        font-size: 28pt;
        letter-spacing: 1.8pt;
        color: white;
        padding: 10px 40px 10px 40px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border-color: #fff;
        border-style: solid;
        border-width: 1px;
    }
}
.footer-nav{
    li{
        margin-top: 50px;
        a{
            text-align: left;
            padding-left: 0;
            padding-right: 40px;
        }
    }
}
.footer-brand{
    width: 140px;
    height: auto;
    margin-left: -8px;
}
.copyright{
    color: white;
    font-size: 8pt;
    text-align: left;
}