.domain-section-spectrum{
    background-color: $section-subheader-bg-color;
    padding: 20px;

    .spectrum-label{
        padding-bottom: 45px;
        .arrow-left{
            //display: inline-block;
            position: absolute;
            //float: left;
            z-index: 100;
            margin: 13px;
        }
        .arrow-right{
            //display: inline-block;
            position: absolute;
            float: right;
            z-index: 100;
            margin-left: 90%;
            margin-top: 13px;
        }
        .text-left{
            position: absolute;
            float: left;
            width: 100%;
            padding: 10px;
            margin-left: 20px;
        }
        .text-right{
            position: absolute;
            float: right;
            width: 90%;
            padding: 10px;
        }
        .spectrum-highlight-left{
            position: absolute;      
            height: 40px;
            width: 100%;
            float: left;
            background: linear-gradient(to right, #FFF 0%, $section-subheader-bg-color 100%);   
        }
        .spectrum-highlight-right{
            position: absolute;  
            height: 40px;
            width: 93.5%;
            float: right;
            background: linear-gradient(to left, #FFF 0%, $section-subheader-bg-color 100%);    
        }
    }
;
}
