body{
    background: $gutter-bg-color;
}
.fingerprint-container{
    background: $fingerprint-container-bg-color;
    margin-top: 50px;
    /*
    border-left-color: #516774;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #516774;
    border-right-style: solid;
    border-right-width: 1px;
    */
    box-shadow: 0px 0px 10px #CECECE;
}
.row{
    padding-left: 20px;
    padding-right: 20px;
}
.bandwidth-background{
    background-color: $bandwidth-color;
}
.hustle-background{
    background-color: $hustle-color;
}
.social-background{
    background-color: $social-color;
}
//Basics
.progress{
    background-color: $dark-grey;
}