.domain-statement{
    min-height: 150px;
    background: $fingerprint-container-bg-color;
    box-shadow: 3px 3px 3px #3A4751;
    border-radius: 10px;
    border-color: #516774;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    padding: 10px;
    .domain-statement-tag{
        display:inline-block;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: white;
        p{
            font-weight: 300;
            letter-spacing: .25pt;
            font-size: 12px;
        }
    }
    .domain-statement-text{
        padding-top: 10px;
        color: white;
        letter-spacing: .5pt;
        padding-left: 5px;
        p{
            font-weight: 300;
            font-size: 14px;
        }
    }
}