.fingerprint-domain{
    padding-top: 20px;
    &:last-child{
        margin-bottom: 100px;
    }
}
.domain-section{
    border-bottom-color: #CCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 70px;
    padding-top: 20px;
    background-color: $section-header-bg-color;
}

.domain-header {
    height: 100px;
    padding-top: 0;
    .domain-value{
        padding-top: 50px;
        .numerator{
            font-weight: 400;
            font-size: 16pt;
            padding-right: 60px;
            line-height: 0;
        }
        .denominator{
            padding-right: 20px;
            color: #CCC;
        }
    }
    .domain-icon-holder{
        img {   
            width: 60px; 
            height: 60px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }
        height: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        vertical-align: middle;
    }
    .domain-label{
        height: 100%;
       h2{
           margin-top: 20px;
       }
       p{
           height: 50%;
           vertical-align: top;
       }
    }
}

// Mapping to all things that need to be colored for the different domains
.bandwidth-domain .domain-color{
    background-color: $bandwidth-color;
}
.hustle-domain .domain-color{
    background-color: $hustle-color;
}
.social-domain .domain-color{
    background-color: $social-color;
}


.bandwidth-domain .domain-border-left-color{
    border-right-color: $bandwidth-color;
}
.hustle-domain .domain-border-left-color{
    border-right-color: $hustle-color;
}
.social-domain .domain-border-left-color{
    border-right-color: $social-color;
}

.bandwidth-domain .domain-border-right-color{
    border-left-color: $bandwidth-color;
}
.hustle-domain .domain-border-right-color{
    border-left-color: $hustle-color;
}
.social-domain .domain-border-right-color{
    border-left-color: $social-color;
}

// Fillbars
// TODO: Use the above .domain-color class to color the fill rather than this custom mapping
.bandwidth-domain{
    .domain-facet{
        .progress-facet-container{
            .progress-facet{
                .progress-bar{
                    background-color: $bandwidth-color;
                }
            }
        }
    }
}
.hustle-domain{
    .domain-facet{
        .progress-facet-container{
            .progress-facet{
                .progress-bar{
                    background-color: $hustle-color;
                }
            }
        }
    }
}
.social-domain{
    .domain-facet{
        .progress-facet-container{
            .progress-facet{
                .progress-bar{
                    background-color: $social-color;
                }
            }
        }
    }
}