.summary-domain-name{
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: 28%;
    font-size: 12pt;
    vertical-align: middle;
    color: #666;
}
.summary-domain-value{
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: 12%;
    vertical-align: middle;
    
}
.summary-domain-icon{
    position: absolute;
    text-align: left;
    width: 40px;
    height: auto;
    margin-left: 10px;
}
.fingerprint-summary-domain{
    height: 26%;
    .progress{
        display: inline-block;
        width: 60%;
        height: 40px;
        margin: 0 auto;
        padding: 0;
        vertical-align: middle;
    }
    .summary-domain-value{
        font-weight: 400;
        font-size: 14pt;
    }
}

// Coloring based on domain
.bandwidth-summary{
    .progress{
        .progress-bar{
            background-color: $bandwidth-color;
        }
    }
}
.hustle-summary{
    .progress{
        .progress-bar{
            background-color: $hustle-color;
        }
    }
}
.social-summary{
    .progress{
        .progress-bar{
            background-color: $social-color;
        }
    }
}