.fingerprint-summary{
    height: 250px;
    padding-top: 20px;
    background-color: $section-header-bg-color;
    background: url(https://storage.googleapis.com/scoutible/www/images/fingerprint/Header_Background.png);
}
.contact{
    ul{
        padding: 0;
        padding-top: 20px;
        list-style: none;
        li{
            padding-top: 5px;
            & p:first-of-type{
                margin: 0 auto;
                display: inline-block;
                width: 100px;
                color: #999;
                border-right-color: #ccc;
                border-right-style: solid;
                border-right-width: 1px;
            }
            p{
                margin: 0 auto;
                padding-left: 10px;
                display: inline-block;
            }
            h3{
                margin: 0 auto;
                display: inline-block;
            }
            
        }
    }
}
.summary-domains{
    height: 100%;
    padding: 20px;
}