.navbar{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    .container{
        position: relative;
        height: 100%;
        .brand{
            position: absolute;
            text-align: center;
            vertical-align: middle;
            // HACK: not actually vertically aligned - using avfixed margin. Vertical alignment and me just don't get along.
            margin-top: 15px;
            width: 100%;
        }
    }
}
.dropdown-menu > li > a {
    font-weight: 300;
}
.brand{
    img{
        //background-color: $dark-grey;
        height: 25px;
        width: auto;
    }
}
.breadcrumb{
    margin: 0;
    padding-top: 10px;
    li{
        span{
            font-size: 10px;
        }
    }
}
.breadcrumb > li + li:before{
    content:"\00B7";
}