.spectrum-bar{
    height: 20px;
    background-color: #CCC;
    -moz-border-radius: 5px;
    border-radius: 5px;
    .spectrum-bar-fill{
        height: 100%;
        border-right-color: #FFF;
        border-right-style: solid;
        border-right-width: 2px;
        border-left-color: #FFF;
        border-left-style: solid;
        border-left-width: 2px;
        padding-top: 3px;
        .spectrum-centermark{
            height: 14px;
            width: 14px;
            text-align: center;
            margin: 0 auto;
            background-color: white;
            transform: rotate(45deg);
        }

    }
    .spectrum-centerline{
        position: absolute;
        width: 90%;
        height: 50%;
        margin-left: 3%;
        border-bottom-color: #FFF;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
}