
$bandwidth-color: #1390E0;
$hustle-color: #DD4B4B;
$social-color: #FECA0E;
$primary-color: #3DB3FD;

$gutter-bg-color: #F2F2F2;
$fingerprint-container-bg-color: #44545E;
$section-header-bg-color: #fff;
$section-subheader-bg-color: #E0E2E4;

$dark-grey: #323C44;


$domain-padding: 20px;
