@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

$test-color: #436;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 26pt;
    padding: 0;
    margin: 0;
}
h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 1.8pt;
    font-size: 18pt;
    padding: 0;
    margin: 0;
}
h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2pt;
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
h4{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18;
    padding: 0;
    margin: 0;
}
p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}
a{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12pt;
    padding: 0;
    margin: 0;
    color: $primary-color;
}